.input__label {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #8B8B8B;
    font-size: 10px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input__input {
    margin: 0;
    padding: 15px;
    max-width: 396px;
    max-height: 46px;
    border-radius: 8px;
    background: #2F2F2F;
    color: #FFF;
    font-size: 13px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.input-error {
    margin: 0;
    padding: 0;
    color: #EE3465;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
