.profile {
    margin: 0;
    padding: 74px 34% 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__info-block {
    margin: 123px 0 220px;
    padding: 0;
    width: 100%;
}

.profile__info-line {
    width: 100%;
    margin: 0 0 17px;
    padding: 0 0 16px;
    border: none;
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: space-between;
}

.profile__info-line:last-child {
    border: none;
    margin: 0;
    padding: 0;
}
              
.profile__data-name {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__data {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: right;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
                  
.profile__button-edit {
    margin: 0;
    padding: 0;
    background: #202020;
    color: #FFF;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.profile__button-edit:hover {
    font-weight: 500;
}

.profile__signaut {
    margin: 16px 0 0;
    padding: 0;
    text-decoration: none;
    color: #EE3465;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__signaut:hover {
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .profile {
        padding: 236px 23.3% 269px;
    }

    .profile__info-block {
        margin: 96px 0 210px;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        padding: 70px 9.38% 40px;
    }

    .profile__info-block {
        margin: 80px 0 379px;
    }

    .profile__button-edit {
        font-size: 12px;
    }

    .profile__signaut {
        font-size: 12px;
    }
}